/* introduction ka CSS */
.heading {
  border: 2px solid black;
  border-radius: 0px 1.87rem;
  background-color: rgba(240, 248, 255, 0.85);
  box-shadow: -2px 2px 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  width: 40vw;
  margin: 0.93rem auto;
  padding: 0.3rem 1rem;
}
.text {
  border: 2px solid black;
  border-radius: 0.62rem;
  padding: 0.93rem;
  background-color: #f0f8ffa6;
  box-shadow: -2px 2px 5px;
  text-align: justify;
  font-size: 1.2rem;
  display: block;
  width: 80%;
  margin: 0.62rem auto;
}

/* founder ka CSS */

div.founder {
  border: 1px solid white;
  border-radius: 0.62rem;
  margin: 0.31rem 0.62rem;
}
legend {
  text-align: center;
}

div.founderimage > img {
  width: 10.62rem;
  padding: 3px;
  border: black solid 1px;
  border-radius: 2rem;
}

/* opportunity ka CSS */
#opportunitytext {
  display: flex;
  align-items: center;
  justify-content: center;
}
#opportunityheading {
  width: 35%;
}
#opportunitytext {
  width: 90%;
}
.opportunityimage img {
  width: 290px;
  padding: 3px;
  border: black solid 1px;
  border-radius: 2rem;
}

#leftimage {
  display: inline-block;
  width: 18.12rem;
  margin: 3.12rem auto;
}
#midtext {
  display: inline-block;
  width: 34.35rem;
  margin: 1.25rem auto;
}
#rightimage {
  display: inline-block;
  width: 18.75rem;
  margin: 3.12rem auto;
}

/* partners details ka CSS */
.partnersdetails {
  border: 1px solid white;
  border-radius: 0.62rem;
  margin: 1.25rem 0.62rem;
  
}
#partnersdetails{
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partnerfieldset {
  background-color: #b6f1f61a;
  border: solid black 1px;
  border-radius: 2rem;
  line-height: 1.56rem;
  width: 32vw;
  max-width: 500px;
  text-align: center;
  margin: 1.25rem 2.37rem;
  box-shadow: 3px 3px 0.93rem;

}

.partnerimage {
  width: 7.5rem;
  padding: 3px;
  border: black solid 1px;
  border-radius: 1rem;
}

/* media ka CSS */
#mediatext{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 92%;
}
.mediafieldset {
  background-color: #b6f1f61a;
  border: solid black 1px;
  border-radius: 2rem;
  width: 33vw;
  text-align: center;
  display: inline-block;
  margin: 1.25rem 2rem;
  box-shadow: 3px 3px 0.93rem;
}

.mediaimage {
  width: 32vw;
  border-radius: 2.5rem;
}
.mediaimagelast{
  width: 65vw;
  border-radius: 2rem;
}
.medialegend {
  background-color: #c3d7d9c2;
  border-radius: 10.62rem;
  padding: 1px 2px;
}


/* -------------Media Queries------------ */
@media screen and (max-width: 850px) {
  html{
    font-size: 13px;
  }
  .heading {
    font-size: 0.93rem;
    width: 75vw;
  }
  .text {
    padding: 5px;
    font-size: 0.81rem;
    width: 95%;
    margin: 0.62rem auto;
  }
  div.founderimage > img {
    width: 5rem;
    padding: 3px;
    border: black solid 1px;
    border-radius: 0.93rem;
  }
  .opportunity > #opportunityheading {
    width: 85%;
    font-size: 0.93rem;
  }
  #opportunitytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #midtext {
    width: 17.5rem;
    margin: -40px auto;
  }
  .opportunityimage img {
    width:14.06rem;
    margin: 1.5rem;
  }

  #partnersdetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .partnerfieldset {
    border-radius: 0.93rem;
    line-height: 0.93rem;
    margin: 1.25rem 0.5rem;
  }
  .partnerfieldsetlast {
    border-radius: 0.93rem;
    line-height: 0.93rem;
  }
  .partnerimage {
    width: 5rem;
    border-radius:1rem;
  }
  .mediaimage {
    width: 38vw;
    border-radius: 2rem;
  }
 
  .mediafieldset {
    border-radius: 1rem;
    width: 39vw;
    margin: 0.62rem 0.5rem;
  }
}