* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=628&q=80);
  font-family: "Varela Round", sans-serif;
}
.userbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.userbox img {
  width: 2rem;
  border-radius: 50%;
}
.userbox p {
  font-size: 0.9rem;
  color: aliceblue;
  margin: 0.5rem 0rem;
}
.profilephoto {
  height: fit-content;
  width: fit-content;
  padding: 0.1rem 1.5rem;
  cursor: pointer;
}
.profilephoto img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
#menubox {
  position: absolute;
  top: 8rem;
  right: 2rem;
  width: 15rem;
  z-index: 9999;
  height: 0rem;
  background-color: #fff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menubox.menuonoff {
  height: 18rem;
}
.settings {
  width: 14.8rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.45rem;
}
.settings p {
  font-size: 1rem;
  color: black;
  text-transform: capitalize;
}
.settings img {
  width: 0.8rem;
}
#usersettings {
  display: block;
  padding: 0.25rem 0.45rem;
}
#usersettings img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
#usersettings p {
  display: block;
  padding: 0;
}
hr {
  width: 13rem;
  margin: 0.8rem 0.1rem;
}

.toggle-btn {
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
  width: 3rem;
  height: 1.5rem;
  background: #ccc;
  padding: 0.2rem 0.2rem;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.5s;
}
.toggle-btn.onoff {
  justify-content: flex-end;
  /* background: rgb(16, 132, 255); */
  background-color: black;
}

.toggle-btn span {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

/* -------------Media Queries------------ */
@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  #menubox {
    position: absolute;
    top: 17rem;
    left: 1.5rem;
  }
}
